@page
@model ResultsModel

<!DOCTYPE html>
<html>
<head>
    <title>Results Page</title>
</head>
<body>
    <h1>Results Page</h1>
    <p>Your score is 1</p>
    <table>
        <tr>
            <th>Question</th>
            <th>Your Answer</th>
            <th>Correct Answer</th>
        </tr>
    </table>
</body>
</html>
